<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css"/>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-resource/angular-resource.js"></script>
    <script src="node_modules/angular-material/angular-material.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-aria/angular-aria.js"></script>
    <script src="js/sampleapp.js"></script>
    <script src="js/configs/router.js"></script>
    <script src="js/controllers/BaseController.js"></script>
    <script src="js/directives/myCustomDirective.js"></script>
    <script src="js/services/randomString.js"></script>
</head>
<body ng-app="SampleApp">
<div ng-controller="BaseController">
    <pre>{{model}}</pre>
    <md-button class="md-primary md-raised" my-custom-directive ng-model="model">Kliknij mnie</md-button>
    Licznik: {{counter}}
    <br/>
    <ul ng-repeat="element in elements">
        <li>{{element}}</li>
    </ul>
</div>
</body>
</html>